@{
    ViewBag.Title = "";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="title">
    <h1>About</h1>
</div>

<div class="buttons">
    <button id="hide">Hide</button>
    <button id="show">Show</button>
    <img src="~/images/book2_img.png" id="toggle"/>
</div>

<div class="top">



</div>
<p>BookBank is web application project created by the Blue Team, Cleveland Codes CoHort 6</p>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    $(document).ready(function () {
        $("#hide").click(function () {
            $("#toggle").slideToggle();
        });
        $("#show").click(function () {
            $("#toggle").slideToggle();
        });
    });
</script>
