@{
    ViewBag.Title = "";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="title">
    <h1>Contact</h1>
</div>

<img src="..\images\bookreading_img.jpg" />
<div class="top">
    <div class="ptext">
        Feel Free to Contact Us anytime
    </div>

</div>

<address>
    Cuyahoga Community College<br />
    Advanced Technology Training Center <br />
    3409 Woodland Ave, Cleveland, OH 44115<br />
    itfasttrack@tri-c.edu<br />
    <abbr title="Phone">P:</abbr>
    (216) 987- 4770
</address>
<address>
    <strong>Support:</strong>   <a href="mailto:Support@bookbank6.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@bookbank6.com">Marketing@example.com</a>
</address>
