@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>BookBank6</h1>
    <p class="lead">BookBank6 is a book exchange web site. Feel free to Donate, Reserve, or Request a book that is not listed. Thanks</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Donate a book</h2>
        <p>
            You can donate a book by clicking on the link below.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Donate a book &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Reserve a book</h2>
        <p>Click on the link below to see all the books that can be reserved. Once you reserve a book, you have three business days to pick it up. </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Reserve a book &raquo;</a></p>
    </div>


    <div class="col-md-4">
        <h2>Contact</h2>
        <p>
            Cuyahoga Community College<br />
            Advanced Technology Training Center <br />
            3409 Woodland Ave, Cleveland, OH 44115<br />
            itfasttrack@tri-c.edu<br />
            Phone: (216) 987- 4770<br />
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>