@model BookDonation.DB.Books

@{
    ViewBag.Title = "Your Reservation Receipt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>@ViewBag.PickupDeadline is the last day to pick up your new book. Enjoy!</h2> <br />
</div>

@*<button onclick="PrintFunction()" id="btn" class="btn">Print receipt</button>

<script>
   function PrintFunction() {
       window.print();
   }
</script>*@