@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Reserve a book";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


    <div class="title">
        <h1>Reserve</h1>
    </div>

    @*<div class="headerimage">
       <img src="..\images\bookreading_img.jpg" />
    </div>*@

        <div class="instructions">
            1. Enter Book Title, Author, and desired Pick Up Day for Book.
            <br />

            2. Submit Reserve request.
        </div>

        <div class="form_reserve">
            <form id="reserveForm" action="">
                Book Title:<br />
                <input type="text" name="BookTitle" value="" />
                <br /><br />
                Author:<br />
                <input type="text" name="Author" value="" />
                <br /><br />
                Pick-Up Day:<br />
                <input type="text" name="PickUpDay" value="" />
                <br /><br />
                <input id="Reserve" type="submit" value="submit" />
                <input id="Cancel" type="reset" value="reset" />
            </form>
        </div>
    


    

